Django==3.0.4
grablib[build]==0.7.4
boto3==1.12.32
dj-database-url==0.5.0
django-extensions==2.2.9
django-bootstrap3-datetimepicker-2==2.8.2
django-jinja-bootstrap-form==4.2.3
django-storages==1.9.1
ipython==7.13.0
psycopg2-binary==2.8.4
pyinotify==0.9.6
gunicorn==20.0.4
whitenoise==5.0.1
raven==6.10.0

django-debug-toolbar==1.11
