black==23.3.0
coverage==7.2.2
codecov==2.1.12
devtools==0.10.0
factory-boy==3.2.1
isort==5.12.0
flake8==6.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.2
pytest-cov==2.10.1
pytest-django==4.1.0
pytest-sugar==0.9.4
pytest-xdist==2.1.0
