coverage==5.1
codecov==2.1.0
devtools==0.5.1
factory-boy==2.12.0

flake8==3.8.1
pycodestyle==2.6.0
pyflakes==2.2.0
pytest==5.4.2
pytest-cov==2.8.1
pytest-django==3.9.0
pytest-sugar==0.9.3
pytest-xdist==1.32.0
