{% extends 'auth.jinja' %}

{% from 'macros.jinja' import spinner %}

{% block content %}
  <div class="row">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="edit-form">
        <div class="row">
          <div class="col">{{ form.product_type | bootstrap }}</div>
          <div class="col">{{ form.batch_code | bootstrap }}</div>
          <div class="col">{{ form.date_of_infusion | bootstrap }}</div>
        </div>
        <div id="product-ingredients" class="mt-4">
          {{ spinner() }}
        </div>
      </div>
      <div class="buttons pt-3">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" href="{{ view.get_cancel_url() }}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
