{% extends 'auth.jinja' %}

{% from 'macros.jinja' import display_formset %}

{% block content %}
  <form method="post" action="" id="formsets-form" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
      <div class="col-md-4">{{ form.product_type|bootstrap }}</div>
      <div class="col-md-4">{{ form.batch_code|bootstrap }}</div>
      <div class="col-md-4">{{ form.yield_quantity|bootstrap }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{ form.date_of_infusion|bootstrap }}</div>
      <div class="col-md-6">{{ form.date_of_bottling|bootstrap }}</div>
    </div>
    <div class="row">
      {{ display_formset(product_ingredient_formset) }}
    </div>
    <div class="row">
      {{ display_formset(yield_container_formset) }}
    </div>
    <input type="submit" value="{{ _('Submit') }}" class="btn btn-success" />
  </form>
{% endblock %}
