{% extends 'base.jinja' %}

{% block nav %}
<nav class="navbar navbar-expand-lg w-100">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center link-body-emphasis" href="/">Salsa Verde</a>
    <ul class="nav nav-pills">
      {% for name, icon, link, is_active in nav_links %}
        <li class="nav-item">
          <a class="nav-link {% if is_active %}active bg-primary-dark{% endif %}" href="{{ link }}">
            <span class="fa-solid fa-{{ icon }}"></span>&nbsp;{{ name }}
          </a>
        </li>
      {% endfor %}
      <a class="btn btn-outline-primary" href="/logout"><span class="fa fa-sign-out">&nbsp;</span>{{ _("Logout") }}</a>
    </ul>
  </div>
</nav>
{% endblock %}

{% block body %}
  <div id="content">
    <div class="main">
      {% for message in messages %}
        {% if 'error' in message.tags %}
          {% set alert_class = 'alert-danger' %}
        {% elif 'warn' in message.tags %}
          {% set alert_class = 'alert-warning' %}
        {% elif 'info' in message.tags %}
          {% set alert_class = 'alert-info' %}
        {% else %}
          {% set alert_class = 'alert-success' %}
        {% endif %}
        <div class="alert {{ alert_class }}">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">{{ _("Close") }}</span>
          </button>
          {% if 'safe' in message.tags %}
            {{ message|safe }}
          {% else %}
            {{ message }}
           {% endif %}
        </div>
      {% endfor %}
      <div id="page-title" class="col-12 mb-3">
        <h3>{% if view.icon %}<span class="text-primary-dark fa {{ view.icon }}"></span>&nbsp;{% endif %}{{ title }}</h3>
      </div>
      {% if button_menu %}
        <div id="button-menu">
            {% for button in button_menu %}
              <a class="btn btn-secondary" href="{{ button.url }}"
                  {% if button.newtab %} target="_blank"{% endif %}
                  {% if button.data %}
                    {% for k, v in button['data'].items() %}
                      data-{{ k }}="{{ v }}"
                    {% endfor %}
                  {% endif %}>
                {% if button.icon %}<span class="fa {{ button.icon }}"></span>&nbsp;{% endif %}
                {{ button.name }}
              </a>
            {% endfor %}
          </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>
{% endblock %}
