<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" href="{{ static('favicon.ico') }}">

  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width">
  <meta name="description" content="A system for staying compliant with SALSA">
  <meta name="author" content="Tom Hamilton Stubber">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
  <link rel="stylesheet" href="{{ static('css/libraries.css') }}">
  <link rel="stylesheet" href="{{ static('css/styles.css') }}">
  <script src="{{ static('js/libraries.js') }}"></script>
  <script src="{{ static('js/main.js') }}"></script>
  <body id="page-top" class="index">
    <div id="page-header">{% block nav %}{% endblock %}</div>
    {% block body %}{% endblock %}
  </body>
  <footer>
    <form id="post-form" method="POST">{% csrf_token %}</form>
  </footer>
</html>
