{% extends 'auth.jinja' %}

{% from 'macros.jinja' import extra_content_table %}

{% block content %}
  <div class="row">
    <div id="display-items">
      {% for field_name, v in display_items %}
        <div>
          <label class="text-muted">{{ field_name }}:</label> <span class="display-item">{{ v }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
  {% if extra_content %}
    {% for obj in extra_content %}
        {{ extra_content_table(obj) }}
    {% endfor %}
  {% endif %}
{% endblock %}
