{% extends 'form_view.jinja' %}

{% from 'macros.jinja' import order_details, display_formset with context %}

{% block content %}
  {{ order_details(view.order_data.order, show_amounts=False) }}
  <form method="post" enctype="multipart/form-data" class="formsets-form custom-form">
    {% csrf_token %}
    {{ form.shopify_order }}
    <div class="form-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Customer</h3>
      </div>
      <div class="row">
        <div class="col-md-6">{{ form.name | bootstrap }}</div>
        <div class="col-md-6">{{ form.phone | bootstrap }}</div>
      </div>
    </div>
    <div class="form-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Delivery Address</h3>
      </div>
      <div class="row">
        <div class="col-md-12">{{ form.region | bootstrap }}</div>
        <div class="col-md-6">{{ form.first_line | bootstrap }}</div>
        <div class="col-md-6">{{ form.second_line | bootstrap }}</div>
        <div class="col-md-4">{{ form.town | bootstrap }}</div>
        <div class="col-md-4">{{ form.county | bootstrap }}</div>
        <div class="col-md-4">{{ form.postcode | bootstrap }}</div>
      </div>
    </div>
    <div class="form-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Packages sending</h3>
      </div>
      <div class="row">
        <div class="col-xs-12">{{ form.dispatch_date | bootstrap }}</div>
        {{ display_formset(package_formset) }}
      </div>
    </div>
    <input type="submit" value="Fulfill order" class="btn btn-default">
  </form>
{% endblock %}

{% block extra_js %}
  <script id="ef-form">
    window.ni_counties = {{ ni_counties | safe }}
    window.ie_counties = {{ ie_counties | safe }}
    window.pack_temp_lu = {{ pack_temp_lu | tojson }}
  </script>
{% endblock %}
