{% extends 'auth.jinja' %}

{% from 'macros.jinja' import display_formset %}

{% block content %}
  <form method="post" action="" class="formsets-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      {% set col = (12 / form.visible_fields() | length) | string %}
      {%- for field in form.visible_fields() %}
        <div class="col-md-{{ col[0] }} unpad">{{ field|bootstrap }}</div>
      {% endfor -%}
    </div>
    <div class="row">
      {% block formset %}{{ display_formset(formset) }}{% endblock %}
    </div>
    <input type="submit" value="Submit" class="btn btn-outline-primary" />
  </form>
{% endblock %}
