{% extends 'auth.jinja' %}

{% block content %}
  <div class="row">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="edit-form">
        {{ form|bootstrap }}
        {% block submit_buttons %}
          <button class="btn btn-primary" type="submit">Save</button>
        {% endblock %}
      </div>
    </form>
  </div>
{% endblock %}
