{% extends 'auth.jinja' %}

{% block content %}
  <form method="post" action="" id="intake_goods_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formsets.management_form|safe }}
    <div class="row">
      <div class="col-md-6">{{ form.intake_date|bootstrap }}</div>
      <div class="col-md-6">{{ form.intake_user|bootstrap }}</div>
    </div>
    <div class="row">
      <table class="table">
        {% for formset in formsets %}
          <tr class="form-row">
            {% for field in formset.visible_fields() %}
              <td>{{ field|bootstrap }}</td>
            {% endfor %}
            <td></td>
          </tr>
        {% endfor %}
        {% with formset = formsets.empty_form %}
          <tr class="form-row" id="id_empty_intake_goods_form" style="display:none;">
            {% for field in formset.visible_fields() %}
              <td>{{ field|bootstrap }}</td>
            {% endfor %}
            <td></td>
          </tr>
        {% endwith %}
      </table>
    </div>
    <input type="submit" value="{{ _('Submit') }}" class="btn btn-default" />
  </form>
  <script>
    $('#intake_goods_form .form-row').formset({
      formTemplate: '#id_empty_intake_goods_form',
      addCssClass: 'btn btn-default',
      deleteCssClass: 'btn btn-danger',
      addText: 'Add another',
      deleteText:'Remove',
      prefix: '{{ formsets.prefix }}',
      added: () => {
        hide_extra_buttons()
      },
    })
    function hide_extra_buttons() {
      $('.dynamic-form').each((i, el) => {
        const $els = $(el).find('.btn-danger')
        if ($els.length === 2) {
          $($els[0]).hide()
        }
      })
    }
    hide_extra_buttons()
  </script>
{% endblock %}
