{% extends 'formset_form.jinja' %}

{% block formset %}
  {{ formset.management_form|safe }}
  {% set el_id = formset.empty_form.title | replace(' ', '-') | lower %}
  <h4>{{ formset.empty_form.title }}</h4>
  {% for form in formset %}
    <div class="formset-{{ el_id }} form-row" data-prefix="{{ formset.prefix }}" data-formset-id="{{ el_id }}">
      {% if form.layout %}
        {% for line in form.layout %}
          <div class="row">
            {% for field, width in line %}
              <div class="col-md-{{ width }}">{{ field | bootstrap }}</div>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <div class="row">
          {% for field in form.visible_fields() %}
            <div class="col-md-{{ field.width or 6 }}">{{ field | bootstrap }}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}


{#  <table class="table">#}
{#    <h4 class="table-title">{{ formset.empty_form.title }}</h4>#}
{#    {% for form in formset %}#}
{#      <tr class="formset-{{ el_id }} form-row" data-prefix="{{ formset.prefix }}" data-formset-id="{{ el_id }}">#}
{#        {% for field in form.visible_fields() %}#}
{#          <td>{{ field|bootstrap }}</td>{{ field.errors.as_text() }}#}
{#        {% endfor %}#}
{#        <td></td>#}
{#      </tr>#}
{#    {% endfor %}#}
{#    {% with form = formset.empty_form %}#}
{#      <tr class="formset-form formset-{{ el_id }} form-row" data-prefix="{{ formset.prefix }}" data-formset_id="{{ el_id }}" id="id_empty_{{ el_id }}" style="display:none;">#}
{#        {% for field in form.visible_fields() %}#}
{#          <td>{{ field|bootstrap }}</td>{{ field.errors.as_text() }}#}
{#        {% endfor %}#}
{#        <td></td>#}
{#      </tr>#}
{#    {% endwith %}#}
{#  </table>#}
{% endblock %}
