{% extends 'auth.jinja' %}

{% from 'macros.jinja' import paginator %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <tr>
        {%- for field in field_names -%}
          <td><b>{{ field }}</b></td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for link, details in field_data %}
        <tr>
          {%- for field in details -%}
            {% if loop.index == 1 %}
              <td><a class="fw-semibold" href="{{ link }}">{{ field }}</a></td>
            {% else %}
              <td>{{ field }}</td>
            {%- endif -%}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ paginator(page_obj, get_without_page) }}
{% endblock %}
