{% extends 'auth.jinja' %}

{% from 'macros.jinja' import paginator, render_form %}

{% block content %}
  {% if filter_form %}
    {{ render_form(filter_form) }}
  {% endif %}
  <table class="table table-hover">
    <thead>
      <tr>
        {%- for field in field_names -%}
          <td><b>{{ field }}</b></td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% if field_data %}
        {% for link, details in field_data %}
          <tr>
            {%- for field in details -%}
              {% if loop.index == 1 %}
                <td><a class="fw-semibold" href="{{ link }}">{{ field }}</a></td>
              {% else %}
                <td>{{ field }}</td>
              {%- endif -%}
            {% endfor %}
          </tr>
        {% endfor %}
      {% else %}
        <tr colspan="{{ field_names | length }}"><td>No {{ view.get_title() }} found</td></tr>
      {% endif %}
    </tbody>
  </table>
  {{ paginator(page_obj, get_without_page) }}
{% endblock %}
