{% macro extra_content_table(obj) %}
  <div class="card extra-details">
    <div class="card-header">
      <h5 class="card-title">
        {% if obj.icon %}
          <span class="fa {{ obj.icon }}"></span>&nbsp;
        {% endif %}
        {{ obj.title }}
      </h5>
      {% if obj.add_url %}
        <a href="{{ obj.add_url }}"><span class="fa fa-plus"></span></a>
      {% endif %}
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            {% for field in obj.field_names %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for link, details in obj.field_vals %}
            <tr>
              {%- for field in details -%}
                {% if loop.index == 1 %}
                  <td>
                    {% if link %}
                      <a href="{{ link }}">{{ field }}</a>
                    {% else %}
                      {{ field }}
                    {% endif %}
                  </td>
                {% else %}
                  <td>{{ field }}</td>
                {%- endif -%}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endmacro %}

{% macro render_form(form) %}
  {% if form.layout %}
    {% for line in form.layout %}
      <div class="row">
        {% for field, width in line %}
          <div class="col-md-{{ width }}">
            {{ field | bootstrap }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      {% for field in form.visible_fields() %}
        <div class="col-md-{{ field.width or 6 }}">{{ field | bootstrap }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro display_formset(formset) %}
  <div class="col-12">
    {{ formset.management_form|safe }}
    {% set el_id = formset.empty_form.title | replace(' ', '-') | lower %}
    <h4>{{ formset.empty_form.title }}</h4>
    {% for form in formset %}
      <div class="card p-2 formset-form formset-{{ el_id }}" data-prefix="{{ formset.prefix }}" data-formset_id="{{ el_id }}" id="id_empty_{{ el_id }}">
        {{ render_form(form) }}
      </div>
    {% endfor %}
    {% with form = formset.empty_form %}
      <div class="formset-form formset-{{ el_id }}" data-prefix="{{ formset.prefix }}" data-formset_id="{{ el_id }}" id="id_empty_{{ el_id }}" style="display:none;">
        {% for line in form.layout %}
          {{ render_form(form) }}
        {% endfor %}
      </div>
    {% endwith %}
  </div>
{% endmacro %}

{% macro order_details(order_data, show_amounts=True) %}
  <div class="order-details">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Products ordered</h4>
        <h4 class="pull-right">{{ view.dt_format(order_data.created_at) }}</h4>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              {% if show_amounts %}<th>Item Price</th>{% endif %}
              <th>Quantity</th>
              {% if show_amounts %}<th>Amount</th>{% endif %}
            </tr>
          </thead>
          <tbody>
            {% for item in order_data.line_items %}
              <tr>
                <td>{{ item.name }}</td>
                {% if show_amounts %}<td>£{{ item.price }}</td>{% endif %}
                <td>{{ item.quantity }}</td>
                {% if show_amounts %}<td>£{{ item.price | float * item.quantity | float }}</td>{% endif %}
              </tr>
            {% endfor %}
            {% if show_amounts %}
              <tr class="border-top">
                <td colspan="2"></td>
                <td><b>Subtotal</b></td>
                <td>£{{ order_data.total_line_items_price }}</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>Shipping</b></td>
                <td>£{{ order_data.shipping_lines[0].price if order_data.shipping_lines else '0.00' }}</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>Discount</b></td>
                <td>-£{{ order_data.total_discounts }}</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td><b>Total</b></td>
                <td><b>£{{ order_data.total_price }}</b></td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro paginator(page_obj, get_without_page=False) %}
  {% if page_obj.has_other_pages() %}
    <nav class="text-center">
      <ul class="pagination align-center my-3">
        {% if page_obj.number != 1 %}
          <li class="page-item"><a class="page-link" href="?page=1{% if get_without_page %}&{{ get_without_page.urlencode() }}{% endif %}">&laquo;</a></li>
        {% else %}
          <li class="disabled page-item"><a class="page-link">&laquo;</a></li>
        {% endif %}
        {% for num in range(page_obj.number - 5, page_obj.number + 6) %}
          {% if num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
              <li class="page-item active"><a class="page-link">{{ num }} <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}{% if get_without_page %}&{{ get_without_page.urlencode() }}{% endif %}">{{ num }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if page_obj.number != page_obj.paginator.num_pages %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if get_without_page %}&{{ get_without_page.urlencode() }}{% endif %}">&raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}

{% macro spinner() %}
  <div id="spinner" style="display: none">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
{% endmacro %}
