{% macro extra_content_table(obj) %}
  <div class="panel panel-default" id="extra-details">
    <div class="panel-heading">
      <h4>{{ obj.title }}</h4>
      {% if obj.add_url %}
        <a href="{{ obj.add_url }}"><span class="fa fa-plus"></span></a>
      {% endif %}
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            {% for field in obj.field_names %}
              <th>{{ field }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
          {% for link, details in obj.field_vals %}
            <tr>
              {%- for field in details -%}
                {% if loop.index == 1 %}
                  <td>
                    {% if link %}
                      <a href="{{ link }}">{{ field }}</a>
                    {% else %}
                      {{ field }}
                    {% endif %}
                  </td>
                {% else %}
                  <td>{{ field }}</td>
                {%- endif -%}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endmacro %}
