{% extends 'auth.jinja' %}

{% from 'macros.jinja' import order_details with context %}

{% block content %}
  {% if order_data %}
    {{ order_details(order_data) }}
  {% endif %}
  {% if view.object and view.object.products.exists() %}
    <div class="panel panel-default" id="extra-details">
      <div class="panel-heading">
        <h4>Products Used</h4>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Product</th>
              <th>Amount</th>
              <th>Batch Code</th>
            </tr>
          </thead>
          <tbody>
            {% for product_order in view.object.products.all() %}
              <tr>
                <td><a href="{{ product_order.product.get_absolute_url() }}">{{ product_order.product.product_type }}</a></td>
                <td>{{ product_order.quantity }}</td>
                <td>{{ product_order.product.batch_code }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
