{% extends 'auth.jinja' %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <tr>
        <td><b>Order</b></td>
        <td><b>Created</b></td>
        <td><b>Customer</b></td>
        <td><b>Total</b></td>
        <td><b>Location</b></td>
        <td><b>Status</b></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for order in view.get_orders() %}
        <tr>
          <td>{{ order.name }}</td>
          <td>{{ view.created_at(order.created_at) }}</td>
          <td>{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</td>
          <td>£{{ order.total_price }}</td>
          <td>{{ view.get_location(order) }}</td>
          <td>{{ order.fulfillment_status or 'Not fulfilled'}}</td>
          <td><a href="{{ url('fulfill-order', order_id=order.id) }}" class="btn btn-primary">
            <span class="fa fa-truck"></span>&nbsp;Fullfil order
          </a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
