{% extends 'auth.jinja' %}

{% block content %}
  <table class="table table-hover">
    <thead>
      <tr>
        <td><b>Order</b></td>
        <td><b>Created</b></td>
        <td><b>Customer</b></td>
        <td><b>Total</b></td>
        <td><b>Location</b></td>
      </tr>
    </thead>
    <tbody>
      {% for shopify_order in orders %}
        <tr>
          <td>
            {% if shopify_order.order_obj %}
              <a href="{{ url('order-details', pk=shopify_order.order_obj.id) }}">Order {{ shopify_order.name }}</a>
            {% else %}
              <a href="{{ url('order-details-shopify', id=shopify_order.id) }}">Order {{ shopify_order.name }}</a>
            {% endif %}
          </td>
          <td>{{ view.created_at(shopify_order.created_at) }}</td>
          <td>{{ shopify_order.billing_address.name if shopify_order.billing_address else 'No billing details' }}</td>
          <td>£{{ shopify_order.total_price }}</td>
          <td>{{ view.get_location(shopify_order) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
