@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './variables';

body {
  //background-color: $background-colour;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.nav {
  .nav-link {
    color: #484848;
  }
}

#login-block {
  margin-top: 100px;
  > div {
    width: 30%;
    background-color: $main-colour;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    border: 1px solid $border-color;
    border-radius: 4px;
    #login-form {
      display: inline-grid;
    }
  }
}

#content {
  padding: 50px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background-color: white;
  .container {
    max-width: 100%;
  }
}

#button-menu {
  padding-bottom: 20px;
}

#ingredients_form {
  .control-label {
    display: none;
  }
  tbody>tr>td {
    width: 15%;
  }
}

.dynamic-form {
  .btn-danger {
    margin-top: 25px;
  }
}

#display-items {
  padding-bottom: 40px;
  label {
    min-width: 20%;
    padding-left: 40px;
  }
}

.panel-default {
  .panel-heading {
    padding: 1px 15px;
    h4 {
      display: inline-block;
    }
  }
  .panel-body {
    padding: 0;
  }
  .table {
    margin-bottom: 0;
  }
}

.unpad {
  padding-left: 10px;
  padding-right: 10px;
}

.table .border-top td {
  border-top-width: 2px;
}

.custom-form {
  .form-panel {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    .form-control {
      margin-bottom: 10px;
    }
    .row {
      padding: 10px 15px 0 15px;
    }
    .table-title {
      display: none;
    }
  }
}
