@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './variables';

body {
  //font-family: 'Poppins', sans-serif;
  color: black;
}

.nav {
  .nav-link {
    color: #484848;
  }
}

#content {
  padding: 15px 15px 30px 15px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background-color: white;
  .container {
    max-width: 100%;
  }
}

/* Utility classes */

.text-primary-dark {
  color: $primary-dark !important;
}

.bg-primary-dark {
  background-color: $primary-dark !important;
}

/* Common items */

#page-title {
  border-bottom: 1px solid $border-color;
}

.btn-secondary {
  border-color: $border-color;
  .fa-plus {
    color: $success;
    font-weight: bold;
  }
  &:hover {
    background-color: darken($secondary, 10%);
    border-color: $main-color;
  }
}

/* Forms */

textarea.resize-vertical-only {
  resize: vertical;
}

.form-group {
  .checkbox {
    padding-top: $font-size-base;
    margin-top: 0.3rem;
  }
  &.has-error {
    .form-control, .input-group-text {
      border-color: $danger;
      background-color: lighten($danger, 40%);
    }
    .error-msg {
      color: $danger;
      font-weight: bold;
    }
  }
  .form-control {
    background-color: white;
  }
}

.custom-form {
  .form-panel {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    .form-control {
      margin-bottom: 10px;
    }
    .row {
      padding: 10px 15px 0 15px;
    }
    .table-title {
      display: none;
    }
  }
}

/* Details views */

.item-details {
  label {
    font-weight: bold;
    min-width: 20%;
  }
}

.extra-details {
  .card-body {
    padding: 0;
    table {
      margin-bottom: 0;
    }
  }
}

/* List views */

.accordion-button {
  padding: 10px;
}

/* Select2 */

.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: $border-color;
  box-shadow: 0 0 0 0.25rem rgba(71, 215, 148, 0.25);
}

.select2-container--bootstrap-5 .select2-selection {
  border-color: $border-color;
  //background-color: $body-bg;
  border-radius: $border-radius;
}

/* Login page */

#login-block {
  margin-top: 100px;
  > div {
    width: 30%;
    background-color: $main-color;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    border: 1px solid $border-color;
    border-radius: 4px;
    #login-form {
      display: inline-grid;
    }
  }
}

#ingredients_form {
  .control-label {
    display: none;
  }
  tbody>tr>td {
    width: 15%;
  }
}

.dynamic-form {
  .btn-danger {
    margin-top: 25px;
  }
}

.unpad {
  padding-left: 10px;
  padding-right: 10px;
}

.table .border-top td {
  border-top-width: 2px;
}

