$main-color:                #47d794;
$primary:                   $main-color;
$secondary:                 #ebf9ef;
$primary-dark:              darken($main-color, 12%);

$border-color:              $primary-dark;

$body-bg:                   $secondary;
$table-bg:                  white;
$card-border-color:         $border-color;
$body-secondary-bg:         $main-color;

$link-decoration:           none;
$font-size-base:            0.9rem;
$h3-font-size:              1.2rem;
$link-color:                #3062bb;

$card-bg:                   white;
$card-title-spacer-y:       0;

//$link-color:                $main-colour;
//$color

@import 'DL/bootstrap-scss/functions';
@import 'DL/bootstrap-scss/variables';
@import 'DL/bootstrap-scss/variables-dark';
