$main-colour: #3d4b65;
//$secondary: #eef2fb;
$border-color:              $main-colour;

$primary:                   $main-colour;
$body-bg:                   #eef2fb;
$table-bg:                  white;
$body-secondary-bg:         $main-colour;
//$body-tertiary-bg:          $main-colour;

$link-decoration:          none;
$font-size-base:            0.9rem;

//$link-color:                $main-colour;
//$color

@import 'DL/bootstrap-scss/functions';
@import 'DL/bootstrap-scss/variables';
@import 'DL/bootstrap-scss/variables-dark';
